body{
    background-color: antiquewhite;
}
header{
    text-align: center;
    background-color: rgba(236, 236, 3, 0.705);
    padding: 2em;
    margin-bottom: 2em;
}
#header-img{
    max-width: 10%;
    max-height: auto;
}
footer{
    background-color: green;
    text-align: center;
    padding: 1em;
    margin-top: 1em;
}
main{
    text-align: center;
    width: 100%;
}

/* ----- INPUT FIELDS ----- */
.input-error{
    border-color: red;
    background-color: rgba(207, 25, 25, 0.329);
}
#in-error-message{
    padding: 0;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 1em;
}
#in-div{
    text-align: center;
}
input{
    width: 20em;
}
#in-name{
    margin-bottom: 4px;
}
#in-todo{
    margin-bottom: 4px;
}

/* ----- TODO ITEM SECTION ----- */
.todo-div{
    text-align: center;
}
.section-title{
    margin-top: 2em;
}
.todo-item{
    height: 250px;
    width: 250px;
    background-color: rgba(236, 236, 3, 0.705);
    box-shadow: 5px 10px 18px rgba(189, 189, 24, 0.842);
    margin: 1em;
    display: inline-block;
    text-align: center;
    position: relative;
}
.todo-name{
    font-size: 18px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
}
.todo-added{
    margin-top: 20%;
    margin-bottom: 0;
}
.todo-item button{
    position: absolute;
    bottom: 3%;
}
.btn-delete{
    right: 2%;
}
.btn-complete{
    left: 2%;
}
.completed-todo{
    background-color: rgba(60, 182, 60, 0.87);
    box-shadow: 5px 10px 18px rgb(19, 141, 19);
}