body{
    background-color: antiquewhite;
}

header{
    text-align: center;
    background-color: gray;
    padding: 2em;
    margin-bottom: 2em;
}
main{
    text-align: center;
    width: 100%;
}

table{
    margin-top: 1em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.input-error{
    border-color: red;
    background-color: rgba(207, 25, 25, 0.329);
}

#in-error-message{
    padding: 4px;
    width: 440px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}
#in-div{
    text-align: center;
}

input{
    width: 20em;
}
#in-name{
    margin-bottom: 4px;
}
#in-todo{
    margin-bottom: 4px;
}
#table-title{
    text-align: center;
    margin-top: 2em;
}
.todo-item{
    height: 250px;
    width: 250px;
    background-color: rgba(197, 197, 51, 0.705);
    margin: 1em;
    display: inline-block;
    text-align: center;
    position: relative;
}
.todo-item button{
    position: absolute;
    bottom: 3%;
}
.btn-delete{
    float: left;
    left: 2%;
}
.btn-complete{
    right: 2%;
}
.todo-div{
    text-align: center;
}